/* Various Mixin functions */

/* Used to remove any background on the CKAN instance
  Pretty helpfull since CKAN default styling uses gradients
  and images to add shaddows/higlights to backgrounds */
@define-mixin removeBackground
  background: none
  background-color: none
  background-image: none