/* Global style varibles */

// Default Brand colors
$primaryColor: lightseagreen
$primaryColourLighter: #167e78
$secondaryColor: seagreen
// Grays
$grey: #CECECE
$lightGrey: #EEEEEE
$lighterGrey: #f6f6f6

// Fonts
$fontColor: #333333

// default element
$defaultRadius: 3px
$defaultPadding: 1em
