/* Global style varibles */

// Default Brand colors
$primaryColor: #b0b828
$primaryColourLighter: #c1c665
$secondaryColor: seagreen
// Grays
$grey: #CECECE
$lightGrey: #EEEEEE
$lighterGrey: #f9f9f9
$headerTextDefault: #777777
$darkGrey: #666666
$darkerGrey: #333333
// Fonts
$fontColor: #333333

// default element
$defaultRadius: 3px
$defaultPadding: 1em

// Brand colours
$facebook: #3b5998
$google: #db3236
$twitter: #0084b4