.site-footer
  padding: 1em
  color: $fontColor
  background: $lighterGrey
  label,
  .small,
  a
    color: $fontColor
  .ckan-footer-logo
    background-color: $darkerGrey
    border: 5px solid $darkerGrey