.module-content.page-header
  background: none
  .nav.nav-tabs
    a
      border-radius: 0
      color: $darkGrey
      transition: color .5s
      &:hover
        color: $fontColor
    &.active
      color: $fontColor
