table.table.table-bordered
  border: none
  border-radius: none
  @mixin removeBackground
  thead, tr, th, td
    border: none
    border-radius: 0
  thead
    th
      border-bottom: 1px solid $grey
  td
    border-left: 1px solid $grey